@media (max-width: 1330px) {
  .calculator__monthly-payment-title {
    font-size: 15px;
  }

  .feedback-form__form-fieldset {
    flex-direction: column;
  }
}

@media (max-width: 940px) {
  .container {
    padding: 32px 16px;
  }

  .calculator {
    padding: 40px 32px;

    &__inputs {
      flex-direction: column;

      &_fieldset {
        margin-right: 0;
      }
    }

    &__monthly-payment {
      width: 100%;
    }
  }

  .feedback {

    &-form__button_type_back {
      max-width: 63px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }

    &-form__title {
      font-size: 12px;
      height: 44px;
    }
  }

  input {
    width: 100%;
  }

  .input__wrapper {
    width: 47%;
    margin-bottom: 16px;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .calculator {
    &__button_type_calculate {
      max-width: 193px;
      padding: 16px 24px;
      font-size: 12px;
    }
  }

  .input__wrapper {
    width: 100%;
  }
}

