
@import "./normalize";
@import "./_colors";

*, h1, h2, h3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
}

.hidden {
  display: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding: 64px 40px;
  margin: 0 auto;
  background-color: $color-light-gray;
}

button {
  font-size: 16px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: auto;
}

input {
  width: 400px;
  padding: 22.5px;
  border-radius: 100px;
  color: $black;
  background-color: $color-light-gray;
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.calculator {
  max-width: 1360px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: $color-white;
  border-radius: 64px;
  padding: 64px;

  &__inputs {
    display: flex;
    margin-bottom: 24px;
  }

  &__button {
    border-radius: 100px;
    font-weight: 800;
    
    &_type_calculate {
      max-width: 254px;
      font-size: 16px;
      padding: 18.5px 40px;
      display: block;
      border: 3px solid #efeff3;
      color: #6d6f92;
      background-color: #fff;
      margin-bottom: 24px;
    }


    &_type_submit {
      padding: 22.5px 31.5px;
      color: $color-white;
      background-color: $color-purple;
      border: none;
      transition: box-shadow 0.3s ease-in-out;
    }

    &_type_submit:hover {
      box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1) inset;
    }
  }

  &__input {
    box-sizing: border-box;
    margin-right: 16px;
  }

  &__input:first-child,
  &__input:nth-child(2) {
    margin-bottom: 20px;
  }

  &__monthly-payment {
    width: 691px;
    height: 148px;
    padding: 39.5px 48px;
    border-radius: 48px;
    border: 3px solid $color-purple;
    border-radius: 48px;

    &-title {
      color: $black;
      font-weight: 800;
      margin-bottom: 8px;
    }

    &-result {
      font-size: 32px;
      color: $color-purple;
      font-weight: 800;
    }
  }
}

.feedback-form__svg-arrow:not(:root) {
  overflow: visible;
}

.feedback-form {
  
  &__header {
    display: flex;
    margin-bottom: 24px;
  }

  &__button {
    &_type_back {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 82px;
      height: 64px;
      border-radius: 100px;
      border: 3px solid rgba(239, 239, 243, 1);
      background-color: $color-white;
      margin-right: 16px;
    }

    &__svg-arrow {
      width: 18px;
      height: auto;
    }
  }

  &__form-fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    position: relative;
  }
  
  &__input:nth-of-type(1),
  &__input:nth-of-type(2),
  &__input:nth-of-type(4) {
    margin-right: 16px;
  }

  &__input:nth-of-type(1),
  &__input:nth-of-type(2),
  &__input:nth-of-type(3) {
      margin-bottom: 16px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 64px;
    font-size: 16px;
    font-weight: 800;
    border: 3px solid #efeff3;
    color: #6d6f92;
    border-radius: 100px;
    text-align: center;
  }

  &__button-send {
    padding: 22.5px 31.5px;
    color: $color-white;
    background-color: $color-purple;
    border: none;
    border-radius: 100px;
    font-weight: 800;
    transition: box-shadow 0.3s ease-in-out;
  }

  &__button-send:hover {
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1) inset;
  }

  &__error {
    font-size: 12px;
    color: $color-red;
    position: absolute;
    bottom: -18px;
    left: 5px
  }
}

@import "./_medias";