<!DOCTYPE html>
<html lang="en">
  {% block head %}
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="assets/css/main.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Rajdhani&family=Roboto+Flex:opsz,wght@8..144,400;8..144,800&display=swap" rel="stylesheet">
      <title>credit</title>
    </head>
  {% endblock %}

  <body>
    {% block content %}
      <div class="container">
        {% include "components/calculate.html.twig" %}
        {% include "components/form.html.twig" %}
      </div>
    {% endblock %}

    {% block scripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
      <script src="https://unpkg.com/imask"></script>
      <script defer src="assets/js/main.min.js"></script>
    {% endblock %}
  </body>
</html>